<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AirPort.mapper.TbCommonMapper">

  <!-- 검색 조건: searchType(전체/개별) + 사용여부 필터 -->
  <sql id="searchWhere">
    <where>
      <if test="keyword != null and keyword != ''">
        <choose>
          <when test="searchType == 'cmmId'">cmm_id LIKE '%' + #{keyword} + '%'</when>
          <when test="searchType == 'cmmName'">cmm_name LIKE '%' + #{keyword} + '%'</when>
          <when test="searchType == 'codeId'">code_id LIKE '%' + #{keyword} + '%'</when>
          <when test="searchType == 'codeName'">code_name LIKE '%' + #{keyword} + '%'</when>
          <otherwise>
            (cmm_id LIKE '%' + #{keyword} + '%'
             OR cmm_name LIKE '%' + #{keyword} + '%'
             OR code_id LIKE '%' + #{keyword} + '%'
             OR code_name LIKE '%' + #{keyword} + '%')
          </otherwise>
        </choose>
      </if>
      <if test="useYn != null and useYn != ''">
        AND use_yn = #{useYn}
      </if>
    </where>
  </sql>

  <!-- 정렬: sort 는 화이트리스트로만 매핑(SQL 인젝션 방지). 각 항목에 안정 정렬용 tie-breaker 포함 -->
  <sql id="orderBy">
    ORDER BY
    <choose>
      <when test="sort == 'cmmName'">cmm_name <if test="desc">DESC</if>, cmm_id, code_id</when>
      <when test="sort == 'codeId'">code_id <if test="desc">DESC</if>, cmm_id</when>
      <when test="sort == 'codeName'">code_name <if test="desc">DESC</if>, cmm_id, code_id</when>
      <when test="sort == 'useYn'">use_yn <if test="desc">DESC</if>, cmm_id, code_id</when>
      <otherwise>cmm_id <if test="desc">DESC</if>, code_id</otherwise>
    </choose>
  </sql>

  <select id="selectList" parameterType="AirPort.model.CommonSearchParam" resultType="TbCommon">
    SELECT cmm_id, cmm_name, code_id, code_name, code_tag, code_remark, user_ipnut, use_yn
    FROM tb_common
    <include refid="searchWhere"/>
    <include refid="orderBy"/>
    OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>

  <!-- 엑셀 다운로드용: 동일 검색/정렬, 페이징 없음(전체) -->
  <select id="selectListAll" parameterType="AirPort.model.CommonSearchParam" resultType="TbCommon">
    SELECT cmm_id, cmm_name, code_id, code_name, code_tag, code_remark, user_ipnut, use_yn
    FROM tb_common
    <include refid="searchWhere"/>
    <include refid="orderBy"/>
  </select>

  <select id="selectCount" parameterType="AirPort.model.CommonSearchParam" resultType="long">
    SELECT COUNT(*) FROM tb_common
    <include refid="searchWhere"/>
  </select>

  <select id="selectOne" resultType="TbCommon">
    SELECT cmm_id, cmm_name, code_id, code_name, code_tag, code_remark, user_ipnut, use_yn
    FROM tb_common
    WHERE cmm_id = #{cmmId} AND code_id = #{codeId}
  </select>

  <insert id="insert" parameterType="TbCommon">
    INSERT INTO tb_common
      (cmm_id, cmm_name, code_id, code_name, code_tag, code_remark, user_ipnut, use_yn)
    VALUES
      (#{cmmId}, #{cmmName}, #{codeId}, #{codeName}, #{codeTag}, #{codeRemark},
       ISNULL(#{userIpnut}, 'N'), ISNULL(#{useYn}, 'Y'))
  </insert>

  <update id="update" parameterType="TbCommon">
    UPDATE tb_common
    SET cmm_name = #{cmmName},
        code_name = #{codeName},
        code_tag = #{codeTag},
        code_remark = #{codeRemark},
        use_yn = #{useYn}
    WHERE cmm_id = #{cmmId} AND code_id = #{codeId}
  </update>

  <delete id="delete">
    DELETE FROM tb_common WHERE cmm_id = #{cmmId} AND code_id = #{codeId}
  </delete>

</mapper>
