<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AirPort.mapper.TbMenuAuthDetailMapper">

  <select id="selectOne" resultType="TbMenuAuthDetail">
    SELECT auth_id, menu_id, read_auth, create_auth, update_auth, delete_auth
    FROM tb_menu_auth_detail
    WHERE auth_id = #{authId} AND menu_id = #{menuId}
  </select>

  <select id="selectByAuthId" resultType="TbMenuAuthDetail">
    SELECT auth_id, menu_id, read_auth, create_auth, update_auth, delete_auth
    FROM tb_menu_auth_detail
    WHERE auth_id = #{authId}
  </select>

  <delete id="deleteByAuthId">
    DELETE FROM tb_menu_auth_detail WHERE auth_id = #{authId}
  </delete>

  <insert id="insert" parameterType="TbMenuAuthDetail">
    INSERT INTO tb_menu_auth_detail (auth_id, menu_id, read_auth, create_auth, update_auth, delete_auth)
    VALUES (#{authId}, #{menuId}, ISNULL(#{readAuth},'N'), ISNULL(#{createAuth},'N'),
            ISNULL(#{updateAuth},'N'), ISNULL(#{deleteAuth},'N'))
  </insert>

</mapper>
